body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: darkslategray;
    color: azure;
    font-size: 30px;
}
body {
    display: flex;
    align-content: center;
    background: darkslategray;
}

    @media screen and (min-width: 900px) {
        body {
            background-image: url("./src/plan.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }
    }
.timeleft {
    margin: auto;
    text-align: center;
}